@import './variables';

.button-primary {
    background-color: $button-primary;
    color: $button-text-color;
    padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left;
    border-radius: $button-radius;
    border: $button-border;
    font-size: $button-font-size;
}

.button-secondary {
    background-color: $button-secondary;
    color: $button-text-color;
    padding: $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left;
    border-radius: $button-radius;
    border: $button-border;
    font-size: $button-font-size;
}